* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #f2f2f2;
}

.main-container {
    box-sizing: border-box;
}

.title-container {
    margin: 35px 120px 20px 120px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: #545454;
    font-size: 250%;
    line-height: 125%;
    font-family: "Flexo-Regular", arial, sans-serif;
    padding: 5px;
    border-radius: 5px;
    background-color: #d8d8d8;
}

.title {
    background: #d8d8d8;
}

.search-by-root {
    display: flex;
    flex-direction: column;
    margin: 0 70px 0 70px;
}

.search-by-label {
    margin: 0 0 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: #545454;
    font-size: 100%;
}

.search-bar {
    margin: 5px 0px 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
    width: 100%;
    align-items: baseline;
}

.search-input {
    border: 1px solid #30a7d7;
    border-radius: 4px;
    width: 500px;
    height: 80%;
    padding: 12px 20px;
    margin: 8px 0;
}

.search {
    width: 100%;
    height: 100%;
}

.search-button {
    border-radius: 4px;
    width: 80px;
    height: 41px;
    background-color: #ec9a29;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

.search-button-reset {
    border-radius: 4px;
    width: 80px;
    height: 41px;
    background-color: #a8201a;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    background-color: #d8d8d8;
    color: #545454;
    text-align: center;
    padding: 10px;
    margin: 0 120px 5px 120px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.references {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #545454;
    text-align: center;
    margin: 0 120px 0 120px;
}

.references a {
    background-color: #d8d8d8;
    padding-bottom: 5px;
}

.ref-label {
    background-color: #d8d8d8;
    color: #545454;
}

.genre-container {
    display: flex;
    flex-direction: column;
    margin: 20px 120px 20px 120px;
}

.genre-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unordered-list-genre li {
    list-style: none;
    margin: 5px 0 5px 0;
    padding: 3px;
}

.unordered-list-genre {
    display: flex;
    flex-direction: row;
}

.genre-label {
    margin: 5px 0 5px 0;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    padding: 3px;
    font-size: 18px;
    background-color: grey;
    color: white;
}

.genre-elements {
    font-size: 14px;
}

.genre-button {
    display: flex;
    align-items: center;
    background-color: white;
    text-decoration: none;
    border: none;
    color: black;
    cursor: pointer;
    text-align: center;
    padding: 3px 5px 3px 5px;
    border-radius: 2px;
    outline: 1px solid black;
}

.genre-tracks {
    margin: 20px 120px 20px 120px;
}

.primary-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.track-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 1px solid grey;
    padding: 2px;
    margin: 8px 1px 8px 1px;
    border-radius: 2px;
    width: 100%;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.track-container {
    display: flex;
    flex-direction: column;
}


.custom-playlist {
    display: flex;
    flex-direction: column;
    margin: 20px 120px 20px 120px;
}

.search-button-playlist {
    border-radius: 4px;
    width: 80px;

    height: 80%;
    background-color: #ec5525;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

.search-tracks {
    display: flex;
    flex-direction: row;
}

.create-button-playlist {
    border-radius: 4px;
    width: 80px;
    height: 41px;
    background-color: #143642;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

.checked {
    outline: 2px solid #2ec4b6;
}

.checked-track {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    width: 100%;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 9px;
    border-left: 4px solid red;
    padding-left: 5px;

}

.custom-playlist-all {
    display: flex;
    flex-direction: column;
    margin: 20px 120px 20px 120px;
}

.track-container-extra {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* outline: 1px solid grey; */
    margin: 0px;
    width: 100%;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 9px;
    border-left: 4px solid #06b66c;
    padding-left: 5px;

}

.button-delete {
    border-radius: 4px;
    width: 143px;
    height: 25px;
    background-color: #0f8b8d;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}



.btn-delete-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

}

.sort-by-root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sort {
    border-radius: 4px;
    width: 143px;
    height: 25px;
    background-color: #adadad;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

.custom-list-count {
    display: flex;
    align-items: center;
}

.genre-tracks-one {
    display: flex;
    flex-direction: column;
    margin: 35px 120px 20px 120px;
}

.sort-by-traks {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.sort-by-options {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.sort {
    margin: 10px 0px 5px 8px;
}

.drop-down-container {
    display: flex;
    align-items: center;
    width: 228px;
}

.drop-down {
    width: 224px;
    display: inline-block;
    border: 1px solid #30a7d7;
    border-radius: 4px;
    padding: 11px 30px 11px 20px;
    background-color: #f2f2f2;
    cursor: pointer;
    white-space: nowrap;
}

.view-all-tracks {
    border-radius: 4px;
    width: 102px;
    height: 24px;
    background-color: #590d22;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 2px 0 5px 0;
}

.modify-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fetch-tracks-btn {
    border-radius: 4px;
    width: 90px;
    height: 41px;
    background-color: #216869;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-left: 4px;
}